<ion-view view-title="{{employerName}}">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear icon ion-log-out" ng-click="logout()">
      </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <div class="item card" ng-repeat="person in persons">
                <div class="row">
                    <h2 style="font-size:25px;white-space:normal">
                        {{person.firstName}} {{person.lastName}}
                    </h2>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <div class="item-note">
                            {{person.createDate | date:'dd-MMM-yyyy'}}
                        </div>
                        <button style="position:relative;top:5vh;" ng-click="moreTests(person)" class="button button-small button-block button-stable">
                            {{person.countBYuserID}} {{ifTest(person.countBYuserID)}}
                        </button>
                    </div>
                    <div class="col col-50" ng-click="goToResult(person)">
                        <canvas style="z-index:1000; height:75px" id="bar" class="chart chart-bar" data='person.dataArray' labels="labels" options="options" colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>