<ion-view view-title="Menu">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear icon ion-log-out" ng-click="logout()">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear icon ion-ios-gear" ui-sref="con-settings">
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">
      <div class="list animate-ripple">
        <div class="padding text-center subheader">
          Take a Test
        </div>
        <button class="item button button-block button-positive app-button" ng-click="selectEmployer($event)">
          Thomas-Kilmann Test
        </button>
        <button class="item button button-block button-positive app-button-inverted" ui-sref="tk-history">
           My Thomas-Kilmann Results
        </button>
        <div class="padding text-center subheader">
          About Us
        </div>
        <div class="card padding">
          <div class="item item-text-wrap">
            Softstack Factory is a nonprofit focused on the technology job skills gap, applying an immersion bootcamp model with an on the job training spin, to train qualified young adults to meet the high demand jobs of the digital economy.  
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
