/* Empty. Add your own CSS if you like */
.item-input {
  margin: 5px 0px;
}

.has-errors {
  border: 1px solid red !important;
}

.no-border {
  border-width: 0px;
}

/* ionics padding */
.button {
  padding: 0 12px !important;
  text-align: center !important;
}
.app-button {
    font-weight: bold !important;
}
.app-button-inverted {
    font-weight: bold !important;
}
.app-bar-header {
    color: #808285 !important;
}
.app-tabs {
    font-weight: bold !important;
}
/*
SSF Colors
A34D24 rust
EB7C23 orange
808285 gray
796E23 green
*/